<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/lib/twitter-bootstrap/css/checkBoxes.css" rel="stylesheet"/>
    <script src="~/lib/twitter-bootstrap/js/checkBoxes.js"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-action="index" asp-controller="Drama" class="nav-link">List</a>
        </li>
    </ul>
</nav>

@RenderBody()

</body>
</html>