@using Microsoft.AspNetCore.Http
@model List<Tuple<int, string>>

@{
    ViewBag.Title = "Add Drama";
    Layout = "_Layout";
    var dramaName = Context.Session.GetString("search");
    var fromDb = Context.Session.GetInt32("searchFromDb");
    
}

<h2>Add Drama</h2>
<div class="list-group">
    
    <a class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Search Results</a>
    @{
        if (fromDb == 1)
        {
            foreach (var drama in Model )
            {
                <a href="/@drama.Item1/episodes?drama=@drama.Item2" class="list-group-item list-group-item-action" aria-current="true">@drama.Item2</a>
            }
        }
        else
        {
            foreach (var drama in Model )
            {
                <a href="/@drama.Item1/episodes?drama=@dramaName" class="list-group-item list-group-item-action" aria-current="true">@drama.Item2</a>
            } 
        }
        

    }
        

    
</div>
