@using Microsoft.AspNetCore.Http
@model int

@{
    ViewBag.Title = "Episode";
    Layout = "_Layout";
    int[] qualities = {240, 360, 480, 720, 1080};
}

<h2>@Context.Session.GetString("dramaName") @Model</h2>
<form class="row g-3" action="/drama" method="post">
    @* <div class="col-auto"> *@
    @*   <label for="staticEmail2" class="visually-hidden">Email</label> *@
    @*   <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> *@
    @* </div> *@
    @* <div class="col-auto"> *@
    @*   <label for="inputPassword2" class="visually-hidden">Password</label> *@
    @*   <input type="password" class="form-control" id="inputPassword2" placeholder="Password"> *@
    @* </div> *@
    @* <div class="col-auto"> *@
    @*   <button type="submit" class="btn btn-primary mb-3">Confirm identity</button> *@
    @* </div> *@
    <div class="col-auto">
    @* <fieldset> *@


        @{
            for (var i = 0; i < qualities.Length; i++)
            {
                <dev >
                    <label>
                        <input class="cb cb@(i + 1)" type="checkbox" value="@qualities[i]" name="quality" onclick="cbChange(this)"/>
                        <i></i>
                        <span>@(qualities[i])P</span>
                        <input name="submit" type="hidden" class="btn btn-primary mb-3">
                    </label>
                </dev>
            }

        }


   
    </div>
</form>