@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<h2>Home</h2>
<form asp-controller="Drama" asp-action="AddDrama" method="get">

    <span class="btn-group">
        <input class="form-control" type="text" name="searchText" placeholder="Search Drama"/>
        <dev class="input-group-append">
            <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search"/>
        </dev>
    </span>
</form>